body {
    font-family: sans-serif;
  }

.list.highlight {
  background-color: lightblue;
  /* Color to highlight the list */
}

.schedule-wrapper {
  display: flex;
  justify-content: space-between;
  /* This will place an even space between the children */
  align-items: stretch;
  /* This will make the children take up full height */
  border: 1px solid #ddd;
  padding: 20px;
  margin: auto;
  width: 80%;
  /* You can set this to a percentage of the viewport width */
  max-width: 1200px;
  /* Or a fixed maximum width, depending on your design preference */
  background-color: #fafafa;
  gap: 20px;
}

.schedule-wrapper>div {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* Organize the content of each div in a column */
  align-items: center;
  /* Center align the items vertically within each div */
  /* width: 48%; */
  /* This will make each child div take up just under half the wrapper's width */
}

.list {
  width: 90%;
  /* This will make the list take up the full width of its parent div */
  border: 1px solid #ddd;
  padding: 0px;
  margin: 10px 0;
  background-color: #f5f5f5;
  overflow-y: scroll;
  height: 200px;
}
  
.chronological-list {
  position: relative;
  background-color: #f0f8ff; /* pale blue */
}

.sporadic-list {
  position: relative;
  background-color: #f5f0f0;
  /* pale pink */
}

.time-container {
  display: flex;
  align-items: flex-start;
  /* Align to the top */
  width: 100%;
}

.time-label {
  font-size: 11px;
  width: 50px;
  /* or whatever width you want for the labels */
  text-align: left;
  /* Add some space between the label and the block */
  box-sizing: border-box;
  height: 60px;
  /* Set the height to match the time block */
  display: flex;
  align-items: flex-start;
  /* Aligns text to the top */
  justify-content: flex-start;
  /* Aligns text to the left */
}

.time-block {
  position: relative;
  flex-grow: 1;
  height: 60px;
  border: 1px solid #ccc;
  /* Light border for each time block */
  padding: 10px;
  margin-bottom: 0px;
  /* Space between time blocks */
  background-color: #e6e6e6;
  /* Light background color for time blocks */
}

.task-block-container {
  position: absolute;
  width: 80%;
  /* Adjust as needed */
  left: 10%;
  /* Center the container within the time block */
  /* No need to set the height here; it will be set dynamically by JavaScript */
}

.task-block {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97%;
  height: 100%;
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 5px 10px 0px;
  cursor: pointer;
}

.task-block button {
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.task-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 100px);
}

.task-block button {
  margin-left: 5px;
  /* Ensure buttons are always aligned to the right */
}

.grip {
  width: 100%;
  position: absolute;
  bottom: -5px;
  /* Position the grip outside the bottom of the container */
  left: 0;
  right: 0;
  height: 10px;
  /* Height of the grip area */
  background: rgba(0, 0, 0, 0.15);
  cursor: ns-resize;
}

.top-grip {
  top: 0px;
  /* Position the grip outside the top of the container */
}

.bottom-grip {
  bottom: -10px;
  /* Position the grip outside the bottom of the container */
}
